.link-primary {
    color: $brand-primary;
    @include transition(color, 0.2, ease);
    @include haf {
        color: $brand-success;
    }
}
.link-warning {
    color: $brand-warning;
    @include transition(color, 0.2, ease);
    @include haf {
        color: $brand-success;
    }
}
.link-success {
    color: $brand-success;
    @include transition(color, 0.2, ease);
    @include haf {
        color: $brand-warning;
    }
}
