/* ====================================
   Footer's style
   ==================================== */

#site-footer {
    margin-top: 30px;
    background: #eee;
    padding: 20px 10px;
    @include clearfix;
    border-top: 1px solid #ccc;
}

.site-footer {
    p {
        font-size: 14px;
        line-height: 1.6em;
        margin-bottom: 5px;
    }
    &__col {
        @include breakpoint(md) {
            width: 50%;
            float: left;
            padding: 0 20px;
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}