/* ====================================   Header's style   ==================================== */

#site-header {
    padding: 20px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
    .navbar {
        display: none;
        margin-bottom: 0;
        margin-top: 20px;
        padding-top: 5px;
        border-top: 1px solid #eee;
        @include breakpoint(md) {
            display: block;
            margin-top: 0;
            padding-top: 0;
            border: none;
            float: left;
            margin-left: 12px;
            padding-left: 12px;
            border-left: 1px solid #eaeaea;
        }
    }
    .logo {
        float: left;
        img {
            height: 30px;
            width: auto;
        }
        a {
            float: left;
        }
        @include breakpoint(md) {
            width: 110px;
        }
        &__sub {
            font-size: 14px;
            line-height: 30px;
            display: inline-block;
            padding-left: 12px;
            margin-left: 12px;
            border-left: 1px solid #eee;
            .fa {
                margin-right: 3px;
            }
            @include breakpoint(md) {
                display: none;
            }
        }
    }
    .fa-bars {
        cursor: pointer;
        float: right;
        font-size: 18px;
        line-height: 30px;
        padding: 0 10px;
        border-radius: 3px;
        @include transition(all, 0.2, linear);
        &:hover,
        &:active,
        &:focus {
            background: #e5e5e5;
            color: white;
        }
        &.is-active {
            // background: $brand-primary;
            // color: white;
            &::before {
                content: "";
            }
        }
        @include breakpoint(md) {
            display: none;
        }
    }
    .container {
        position: relative;
        &>.fa-search {
            display: none;
            cursor: pointer;
            @include breakpoint(md) {
                display: block;
                float: right;
                font-size: 16px;
                line-height: 34px;
                padding: 0 10px;
                border-radius: 3px;
                @include transition(all, 0.2, linear);
                &:hover,
                &:active,
                &:focus {
                    background: #e5e5e5;
                    color: white;
                }
                &.is-active {
                    &::before {
                        content: "";
                    }
                }
            }
        }
    }
}

.navigator {
    @include clearfix();
    font-size: 14px;
    line-height: 34px;
    >li {
        position: relative;
        a {
            display: block;
            background: transparent;
            @include transition(all, 0.2, linear);
            color: black;
            border-radius: 3px;
            &:hover {
                background: $brand-primary;
                color: white;
                padding-left: 9px;
            }
            .fa {
                margin-right: 3px;
            }
        }
        &:hover {
            .navigator__child {
                left: auto;
            }
            .navigator__search {
                right: 0;
            }
        }
        &.is-active {
            a {
                background: $brand-primary;
                color: white;
                padding-left: 9px;
            }
        }
        .search__wrap {
            display: block;
            position: static;
            margin: 0 0 5px;
            padding: 10px;
        }
        @include breakpoint(md) {
            float: left;
            margin-right: 1px;
            a {
                padding: 0 9px;
                &:hover {
                    padding-left: 9px;
                }
            }
            .search__wrap {
                display: none;
            }
        }
    }
}

.search {
    &__wrap {
        display: none;
        z-index: 10;
        padding: 20px;
        background: #eaeaea;
        position: absolute;
        top: 100%;
        margin-top: 20px;
        left: 10px;
        right: 10px;
        @include clearfix;
        .form-control {
            float: left;
            display: inline-block;
            width: calc(100% - 45px);
        }
        .btn {
            float: left;
            margin-left: 5px;
            height: 34px;
            line-height: 20px;
        }
    }
}