/*
* TOC
*
* layout by region
* - region above the fold
* zone normal
* zone--special
*/

#site-content {
    padding-bottom: 30px;
    position: relative;
    @include clearfix;
}


// > layout by region
.region {
    // >> region above the fold
    &--abf {
        @include clearfix;
        margin-bottom: 20px;
        .story--main {
            margin-bottom: 15px;
            @include breakpoint(md) {
                width: 660px;
                float: left;
                margin-bottom: 0;
            }
        }
        .zone {
            @include breakpoint(0px, 1023px) {
                .story {
                    &+.story {
                        margin-top: 15px;
                    }
                }
                .story__thumb {
                    float: left;
                    margin-right: 10px;
                }
                .story__header {
                    margin-top: 0;
                }
            }
            @include breakpoint(md) {
                width: 320px;
                float: right;
                .zone__content {
                    font-size: 0;
                    margin-left: -10px;
                    margin-right: -10px;
                }
                .story {
                    display: inline-block;
                    width: 50%;
                    vertical-align: top;
                    padding: 0 10px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

// > zone normal
.zone {
    .story-listing {
        .story {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include breakpoint(sm) {
            margin-left: -10px;
            margin-right: -10px;
            font-size: 0;
            .story {
                display: inline-block;
                width: 50%;
                padding: 0 10px;
                vertical-align: top;
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    margin-bottom: 0;
                }
            }
        }
        @include breakpoint(md) {
            .story {
                width: 25%;
            }
        }
    }
}

.zone--full {
    .story-listing {
        .story {
            @include breakpoint(sm) {
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

// > zone--special
.zone--special {
    .story-listing {
        .story {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include breakpoint(sm) {
            margin-left: -10px;
            margin-right: -10px;
            font-size: 0;
            .story {
                display: inline-block;
                width: 50%;
                padding: 0 10px;
                vertical-align: top;
                &:nth-child(3),
                &:nth-child(4) {
                    margin-bottom: 0;
                }
            }
        }
        @include breakpoint(md) {
            .story {
                width: 25%;
            }
        }
    }
}

// page column
.main-content {
    @include clearfix;
    // margin-top: 20px;
}

.main-col {
    @include breakpoint(md) {
        width: 660px;
        float: left;
    }
}

.sidebar-col {
    @include breakpoint(md) {
        width: 320px;
        float: right;
    }
}