/* style for story */

.story {
    @include clearfix;
    &__thumb {
        overflow: hidden;
        position: relative;
        &+.story__header {
            margin-top: 7px;
        }
        img {
            @include transition(all, 0.2, linear);
        }
        a::after {
            @include transition(all, 0.2, linear);
            opacity: 0;
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: black;
        }
    }
    &__title {
        font-size: 14px;
        line-height: 19px;
        font-family: $font-family-serif;
        font-weight: bold;
        max-height: 57px;
        overflow: hidden;
        &+.story__meta {
            margin-top: 7px;
        }
    }
    &__status {
        position: absolute;
        text-align: center;
        bottom: 8px;
        left: 8px;
        .fa-play {
            width: 24px;
            height: 24px;
            font-size: 10px;
            line-height: 22px;
            border: 1px solid #fff;
            color: white;
            background: rgba(0, 0, 0, .5);
            border-radius: 2px;
            @include transition(all, 0.2, linear);
        }
    }
    &__cate {
        font-weight: bold;
        margin-right: 5px;
        color: #999;
        &:hover {
            color: $brand-primary;
        }
    }
    &__meta {
        color: #999;
        font-size: 12px;
    }
    /* effect */
    &:hover,
    &--active {
        .story__thumb {
            img {
                filter: blur(1px);
            }
            a::after {
                opacity: .3;
            }
        }
        .story__status {
            .fa-play {
                background: $brand-primary;
                border-color: $brand-primary;
            }
        }
    }
    &--active {
        .story__thumb {
            img {
                filter: blur(2 px);
            }
        }
        .story__status {
            &::after {
                content: "Tiếp theo...";
                display: inline;
                margin-left: 5px;
                font-size: 11px;
                color: white;
                font-weight: normal;
            }
        }
    }
    /* main story */
    &--main {
        .story__title {
            font-size: 22px;
            line-height: 29px;
            @include breakpoint(xs){
                max-height: initial;
            }
        }
        .story__meta {
            line-height: 24px;
        }
        .story__summary {
            margin-top: 10px;
            font-family: $font-family-serif;
        }
    }
    &__player {
        margin-bottom: 10px;
    }
    &__tool {
        float: right;
        .fa {
            font-size: 24px;
            @include transition(all, 0.2, ease);
            &+.fa {
                margin-left: 5px;
            }
        }
        .fa-facebook-square {
            color: #4267B2;
            &:hover {
                color: #2c4679;
            }
        }
        .fa-google-plus-square {
            color: #EB1B23;
            &:hover {
                color: #bd141a;
            }
        }
        .fa-twitter-square {
            color: #4099FF;
            &:hover {
                color: #337cd0;
            }
        }
        .fa-envelope-square {
            color: #999;
            &:hover {
                color: #555;
            }
        }
    }
    &__author {
        font-family: $font-family-serif;
        font-size: 12px;
        text-align: right;
        font-weight: bold;
        margin-top: 5px;
    }
}